//@mixin bgGradientLinear($col1, $start, $col2, $stop) {
//    background: $col1;
//    background: -moz-linear-gradient(top, $col1 $start, $col2 $stop);
//    background: -webkit-gradient(linear, left top, left bottom, color-stop($start, $col1), color-stop($stop, $col2));
//    background: -webkit-linear-gradient(top, $col1 $start, $col2 $stop);
//    background: -o-linear-gradient(top, $col1 $start, $col2 $stop);
//    background: -ms-linear-gradient(top, $col1 $start, $col2 $stop);
//    background: linear-gradient(to bottom, $col1 $start, $col2 $stop);
//    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$col1', endColorstr='$col2', GradientType=0);
//}

@mixin bgGradientLinear($startColor, $endColor, $image) {
    background-color: mix($startColor, $endColor, 60%); // fallback
    background-image: $image; // fallback
    background: $image top left no-repeat, -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
    background: $image top left no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background: $image top left no-repeat, -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background: $image top left no-repeat, -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
    background: $image top left no-repeat, linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
    background-size: 100% 100%;
//    background-size: cover;
}

@mixin transitionMix($targets, $time) {
    -webkit-transition: $targets $time;
    -moz-transition: $targets $time;
    -ms-transition: $targets $time;
    -o-transition: $targets $time;
    transition: $targets $time;
}