/* ==========================================================================
   Nav
   ========================================================================== */
.nav-container {
    position: fixed;
//    height: 100%;
    top: 0;
    left: 0;
    //border: 1px solid red;
}

.nav-canvas {
    position: absolute;
    //border: 1px solid black;
}

@import "sprites/curl/*.png";

.nav-btn-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 60px;
    text-indent: -2000px;
    @include curl-sprite(normal);
}

a.nav-btn-container {
    color: $colourLight;
}

.mod-no-touch a.nav-btn-container:hover {
    text-decoration: none;
    color: $colourDiffLight;
    @include curl-sprite(hover);
}

.nav-items-container a {
    color: $colourDark;
    @include transitionMix(all, 0.3s);
}

.mod-no-touch .nav-items-container a:hover {
//    color: $colourDiffLight;
}

.nav-items-container {
    position: relative;
    top: 30px;
    left: 0;
    margin: 0;
    padding: 0;
    width: $navWidth;
}

.nav-item-container {
    height: 32px;
    overflow: hidden;
    list-style-type: none;
    //border: 1px solid green;
}

.nav-item {
    display: inline-block;
    width: $navWidth;
    padding: 5px 0 5px 0;
    cursor: pointer;
    //border: 1px solid red;
}

.nav-connector {
    display: inline-block;
    width: 15px;
    height: 12px;
    background-image: url("../../img/stump.png");
}

.breadcrumbs {
    //display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    padding: 5px 10px 5px 100px;
    background: $colourMid;
    color: $colourDiffLight;
    opacity: 0.5;
}