/* ==========================================================================
   Responsive
   ========================================================================== */

// Media queries breakpoints
// Edited from Bootstrap
// --------------------------------------------------


// Extra, extra tiny screen / phone
$screen-ty: 600px !default;
// So media queries don't overlap when required, provide a maximum
$screen-ty-max: ($screen-ty - 1) !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// Large screen / wide desktop
@media (min-width: $screen-lg) {

}

// Medium screen / desktop
@media (min-width: $screen-md) and (max-width: $screen-md-max) {

}

// Small screen / tablet
@media (min-width: $screen-sm) and (max-width: $screen-sm-max - 1) {

}

// Extra small screen / phone
@media (max-width: $screen-xs-max) {
}

// Extra, extra tiny screen / phone
@media (max-width: $screen-ty-max) {
    .article-content {
        width: $articleWidth-ty;
        margin-left: -$articleWidth-ty / 2;
    }
    .article-img-container {
        width: $articleWidth-ty;
    }
    .article-content img {
        width: 100%;
        height: auto;
    }
    .article-detail {
        margin: 0.3em 0;
    }
    .title-vid {
        margin-left: 2em;
        margin-right: 2em;
    }
}