$colourDark: #1C6B00;
$colourMid: #94B864;
$colourLight: #D6D59D;

$colourDiffDark: #4F3E2D;
$colourDiffLight: #A8682B;

$navWidth: 15em;

$thumbWidth: 120px;
$thumbHeight: 100px;

$articleWidth: 320px;
$articleMinHeight: 360px;

$btnWidth: 50px;
$btnHeight: 50px;
$btnWidthSm: 26px;
$btnHeightSm: 26px;

$btnVideoWidth: 100px;
$btnVideoHeight: 100px;

$videoWidthSm: 393px;
$videoHeightSm: 288px;
$videoWidthLg: 786px;
$videoHeightLg: 576px;
