<article class='article-content-vid'>
    <h1 class="title-vid"><%- title %></h1>

    <!-- <div id="jp_container" class="jp-video jp-video-sm">
        <div id="jplayer_interactive" class="jp-jplayer"></div>
        <div class="video-controls-holder">
            <a href="javascript:;" class="jp-play btn-video-play video-controls-sm" style="display: block;" tabindex="1">play</a>
            <a href="javascript:;" class="jp-pause btn-video-pause video-controls-sm" tabindex="1">pause</a>
            <a href="javascript:;" class="jp-full-screen btn-full-screen btn-centred">Full Screen</a>
            <a href="javascript:;" class="jp-restore-screen btn-restore-screen btn-centred">Restore Screen</a>
        </div>
        <div class="jp-no-solution">
            <h3>Update Required</h3>

            <p>To play the media you will need to either update your browser to a recent version or update your
                <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.</p>
        </div>
    </div> -->

</article>