<article class='article-content-vid'>
    <h1 class="title-vid"><%- title %></h1>
    
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="393"
    height="288"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
  >
  <!-- // var vidH264URL = common.urlVideoH264() + '/' + this.curItem.id + '.mp4'; -->
  <!-- // var vidWebmURL = common.urlVideoWebm() + '/' + this.curItem.id + '.webm'; -->
  <!-- // var posterURL = common.urlImg() + '/' + this.curItem.id + '.jpg'; -->



    <source src="MY_VIDEO.mp4" type="video/mp4" />
    <!-- <source src="MY_VIDEO.webm" type="video/webm" /> -->
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>



</article>